*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    position: relative;
    font-family: "Bitter", "Cairo", sans-serif;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #f7f7f7;
}
nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    padding: 20px;
    background-color: #f7f7f7;
    color: #2A2D34;
    box-shadow: 0px 0px 2px 2px #2A2D3421;
}
nav a{
    color: inherit;
}

.hero-section{
    min-height: 86vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.hero-section section{
    max-width: 700px;
}
.hero-section section h1{
    color: #2A2D34;
}
.hero-section section p{
    margin: 8px 0;
    font-size: 18px;
    color: #2A2D34;
}
.hero-section section a{
    color: #019267;
}
.hero-section section a.btn{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #019267;
    margin: 2px 0;
    display: inline-block;
    color: #f7f7f7;
    font-size: 18px;
    cursor: pointer;
}
.hero-section section a.btn:hover{
    opacity: 0.8;
}

.create-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.create-section section{
    max-width: 700px;
}
.create-section section h1{
    color: #2A2D34;
}
.create-section section p{
    margin: 8px 0;
    font-size: 18px;
    color: #2A2D34;
}
.create-section section .btn{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #019267;
    margin: 2px 0;
    display: inline-block;
    color: #f7f7f7;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.create-section section .btn:hover{
    opacity: 0.8;
}
.btns-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    margin: 14px 0;
    background-color: #e3e3e3;
    padding: 5px;
    gap: 5px;
}
.question .controls{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}
.question .controls input{
    padding: 6px 4px;
    font-size: 16px;
    border: none;
    background-color: #f7f7f7;
}
.question .delete-icon{
    background-color: #df4759;
    color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.question .delete-icon i{
    font-size: 22px;
    padding: 10px;
}

.view-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.view-section section{
    max-width: 700px;
}
.view-section section h1{
    color: #2A2D34;
}
.view-section section p{
    margin: 8px 0;
    font-size: 18px;
    color: #2A2D34;
}
.view-section section .btn{
    padding: 10px 20px;
    text-decoration: none;
    background-color: #019267;
    margin: 2px 0;
    display: inline-block;
    color: #f7f7f7;
    font-size: 18px;
    border: none;
    cursor: pointer;
}
.view-section section .btn:hover{
    opacity: 0.8;
}