.question .delete-icon {
    background-color: #df4759;
    color: #f7f7f7;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

.question .delete-icon svg {
    width: 24px;
    height: 24px;
}

.create-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.create-section section {
    max-width: 700px;
}

.create-section section h1 {
    color: #2A2D34;
}

.create-section section p {
    margin: 8px 0;
    font-size: 18px;
    color: #2A2D34;
}

.create-section section .btn {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #019267;
    margin: 2px 0;
    display: inline-block;
    color: #f7f7f7;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.create-section section .btn:hover {
    opacity: 0.8;
}

.btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}